<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tambah Post | Abid's Blog</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Tambah Post Baru</h1>
    <form method="post">
      <input type="text" name="title" placeholder="Judul" required>
      <textarea name="content" placeholder="Konten" required></textarea>
      <button type="submit" class="btn">Submit</button>
    </form>
    <a href="{{ url_for('index') }}" class="btn back">Kembali</a>
  </div>
</body>
</html>
